nav{
    background-color: rgba(47, 0, 255, 0.699);

    }
    nav a{
        margin: 34px;
        font-size: 30px;
        text-decoration: none;
        color: aliceblue;}
body {
    font-family: sans-serif;
}
header { font-size: 30px;margin: 29px;}
header img {height: 100px;
width: 300px;}
header a { text-decoration:none;
border: 10px solid rgba(0, 36, 238, 0.829);

padding: 20px;
}
h1{background-color:rgba(0, 52, 221, 0.952);font-size: 50px; color: aliceblue;text-align: center; }
footer {background-color: blue;}
footer p {background-color: aliceblue; font-size: 20px;}
